{% extends 'obase.html' %} {% load static %} {% block content %}
<div>
    <h3 class="text-center">All Bookings </h3><br><br>
    <table class="table">
        <thead>
            <th>User</th>
            <th>Room</th>
            <th>Location</th>
            <th>Person</th>
            <th>Check in</th>
            <th>Check out</th>
            <th>Price</th>
            <th>Payment mode</th>
        </thead>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>


    </table><br><br><br><br><br><br><br><br><br><br>
</div>{% endblock %}