{% extends 'obase.html' %}{% block content %}
<div>
    <h1 class="text-center my-0">Edit Room</h1><br><br>
    <!--Staff section -->
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-lg-6 col-xlg-6 col-sm-12 mx-auto">
                <form action="{% url 'updateroom' %}" method="POST">
                    {% csrf_token %} {% for i in rd %}
                    <div class="form-group">
                        <label for="pwd">Room Number:</label>
                        <input type="number" class="form-control" name="roomnumber" value="{{i.roomnumber}}">
                    </div><br>
                    <div class="form-group">
                        <label for="email">Room Type:</label>
                        <select class="form-control" name="roomtype" id="roomtype">
                            
                            
                            
                            <option  value="Single">Single</option>
                            <option  value="Double">Double</option>
                            <option  value="Quad">Quad</option>

                        </select>
                    </div><br>
                    <div class="form-group">
                        <label for="pwd">Capacity:</label>
                        <input type="number" class="form-control " id="capacity" name="capacity" value="{{i.capacity}}">
                    </div><br>
                    <div class="form-group">
                        <label for="pwd">Price:</label>
                        <input type="mumber" class="form-control " id="price" name="price" value="{{i.price}}">
                    </div><br>
                    <div class="form-group">
                        <label for="pwd">Status:</label>
                        <select class="form-control" name="status" id="status">
                            <option value="Available">Available</option>
                            <option value="Not Available">Not Available</option>
                            
                        </select>
                    </div><br>{% endfor %}
                    <button type="submit" class="btn btn-danger">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>{% endblock %}