{% extends 'owner.html' %} {% block content %}{% load static %}
<div><br><br><br>
    <h2>My Properties:</h2><br>
    <table class="table table-bordered">
        <tr>
            <th>Property Name</th>
            <th>Location</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>White Suit Hotel</td>
            <td>Kozhikode</td>
            <td><a href="odashboard" button class="btn btn-primary">Next</a></td>
        </tr>
        <tr>
            <td>White Suit Hotel</td>
            <td>Kozhikode</td>
            <td><a href="odashboard" button class="btn btn-primary">Next</a></td>
        </tr>
        <tr>
            <td>White Suit Hotel</td>
            <td>Kozhikode</td>
            <td><a href="odashboard" button class="btn btn-primary">Next</a></td>
        </tr>
    </table>
    <br><br><br><br>
</div>{% endblock %}