{% extends 'obase.html' %} {% block content %}{% load static %}
<div><br> {% if messages %} {% for message in messages %}
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">
      ×
      </button>
        <strong>{{message}}<strong>
    </div>
 {% endfor %}
{% endif %}
    <h2>My Properties:</h2><br>
    <table class="table table-bordered">
        <tr>
            <th>Property Name</th>
            <th>Location</th>
            <th>Type</th>
            <th>Action</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i.property_name}}</td>
            <td>{{i.City}}</td>
            <td>{{i.property_type}}</td>
            <td>
                <!-- <a href="/owner/odashboard/ {{i.id}} " class="btn btn-primary">Next</a> -->
                <a href="{% url 'odashboard' i.id %}" class="btn btn-primary">Next</a>
            </td>
            <!-- <td>
                <a href="{% url 'facilities' i.id %}" class="btn btn-primary">Facilities</a>
            </td> -->
        </tr>
        {% endfor %}
    </table>
    <br><br><br><br>
</div>
{% endblock %}