{% extends 'obase.html' %} {% load static %} {% block content %}
<div>
    <h3> Details: </h3>
    <hr>
    <div class="container mx-0 ">
        {% for i in view %}
        <p><b>Room Number :-</b>{{i.roomnumber}}</p>
        <p><b>Room Type :-</b>{{i.roomtype}}</p>
        <p><b>Capacity :-</b>{{i.capacity}} </p>
        <p><b>Status :-</b>{{i.status}} </p>
        <p><b>price :-</b>{{i.price}} </p>
        {% endfor %}
    </div>
    <hr><br>
    <h3>Bookings: </h3>
    <table class="table">
        <thead>
            <th>Customername</th>
            <th>check in</th>
            <th>check out</th>
            <th>Address</th>
            <th>Phone number</th>
            <th>Email</th>
        </thead>
        {% for i in br %}
        <tr>
            <td>{{i.fname}} {{i.lname}}</td>
            <td>{{i.checkin}}</td>
            <td>{{i.checkout}}</td>
            <td>{{i.address}}</td>
            <td>{{i.phone}}</td>
            <td>{{i.email}}</td>
        </tr>{% endfor %}

        <!-- <tr>
            <td><b>Total bookings = </b></td>
        </tr> -->

    </table>

    <!-- <p>No details found</p> -->
</div>{% endblock %}