{% extends 'obase.html' %} {% load static %} {% block content %}
<div>
    <h3> Details: </h3>
    <hr>
    <div class="container mx-0 ">
        {% for i in view %}
        <p><b>Room Number :-</b>{{i.roomnumber}}</p>
        <p><b>Room Type :-</b>{{i.roomtype}}</p>
        <p><b>Capacity :-</b>{{i.capacity}} </p>
        <p><b>Status :-</b>{{i.status}} </p>
        <p><b>price :-</b>{{i.price}} </p>
        {% endfor %}
    </div>
    <hr><br>
    <h3>Bookings: </h3>
    <table class="table">
        <thead>
            <th>Username</th>
            <th>Person</th>
            <th>check in</th>
            <th>check out</th>
        </thead>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <!-- <tr>
            <td><b>Total bookings = </b></td>
        </tr> -->

    </table>

    <!-- <p>No details found</p> -->
</div>{% endblock %}