{% extends 'base.html' %} {% block content %}{% load static %}
<div><br><br>
    <div style="background-color: gray; height: 100px;"><br>
        <h2 style="margin-left: 15px;" align="center"><b>About Us:</b></h2>
    </div><br><br>
    <div style="margin-left: 25px;">
        <h5>Welcome to room booking</h5><br><br>
        <p>room booking is a leading provider of accommodation in India, offering booking services through its own network of localised websites.</p>
        <br>
        <p>room booking gives travellers one of the widest selections of accommodation on the net, including both independent and major chain hotels as well as self-catering in over hundreds of thousands properties in India. The company offers a one-stop
            shopping source for room pricing, amenities and availability.</p><br><br>
        <p>We have been providing customers with the option of no-convenience fee, such that customers are not required to pay any service fee in instances where there are no alternate discount or promotion coupon being availed. In our pricing model, we
            have endeavored to avoid hidden costs, which result in increasing the final price payable by the customer.</p>
    </div>
</div>{% endblock %}