{% extends 'base.html' %} {% block content %}{% load static %}
<div class="container"><br><br><br>
    <h2>Blogs:</h2><br>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for i in bl%}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <!-- <img src="{% static 'image/29756481-400x229.jpg' %}" class="card-img-top" alt=""> -->
                <div class="card-body">
                    <h5 class="card-title">{{i.title}}</h5>
                    <h6>Writtenby: {{i.writtenby}}</h6>
                    <p>{{i.description}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}