{% extends 'profilebase.html' %} {% block content %}{% load static %}
<div>
    <h2>Booking Reciept and Details:</h2>
    <br><br>
    <table class="table table-bordered">
        <tr class="table table-dark">
            <th colspan="4">Customer and Order Details</th>
        </tr>
        <tr>
            <th>Booking ID</th>
            <td>3</td>
            <th>Date</th>
            <td>11/12/2021</td>
        </tr>
        <tr>
            <th>Booking Status</th>
            <td>Confirmed</td>
            <th>Customer Name</th>
            <td>1David V</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>david@gmail.com</td>
            <th>Contact</th>
            <td>9745628760</td>
        </tr>
        <tr>
            <th>From Date</th>
            <td>11/12/2021</td>
            <th>To Date</th>
            <td>12/12/2021</td>
        </tr>
        <tr>
            <th>Total Days</th>
            <td>1</td>
            <th>Total Amount</th>
            <td>₹ 3,000</td>
        </tr>
    </table>
    <table class="table table-bordered">
        <tr class="table table-dark">
            <th>Room No.</th>
            <th>Image</th>
            <th>Room Type</th>
            <th>Beds</th>
            <th>Per Day Cost</th>
            <th>Total Cost</th>
        </tr>
        <tr>
            <td>Room-3</td>
            <td><img src="{% static 'image/281851425.jpg' %}" alt="" height="50px" width="50px"></td>
            <th>Single Room</th>
            <td>Single Bed</td>
            <td>₹ 1,500</td>
            <td>₹ 3,000</td>
        </tr>
    </table><br><br>
    <a href="profile" button type="button" class="btn btn-primary">Back</a>
</div>{% endblock %}