{% extends 'base.html' %} {% block content %}{% load static %}
<div class="container">
    <h2>Booking Reciept and Details:</h2>
    <br><br>
    <table class="table table-bordered">{% for i in brr %}
        <tr class="table table-dark">
            <th colspan="4">Customer and Order Details</th>
        </tr>
        <tr>
            <th>Booking ID</th>
            <td>{{i.id}}</td>
            <th>Customer Name</th>
            <td>{{i.fname}} {{i.lname}}</td>
        </tr>
        <!-- <tr>
            <th>Booking Status</th>
            <td>Confirmed</td>
            <th>Date</th>
            <td>11/12/2021</td>
        </tr> -->
        <tr>
            <th>Email</th>
            <td>{{i.email}}</td>
            <th>Contact</th>
            <td>{{i.phone}}</td>
        </tr>
        <tr>
            <th>From Date</th>
            <td>{{i.checkin}}</td>
            <th>To Date</th>
            <td>{{i.checkout}}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{i.address}}</td>
            <th>Total Amount</th>
            <td>₹ {{i.price}}</td>
        </tr>
        {% endfor %}
    </table>
    <table class="table table-bordered">
        <tr class="table table-dark">
            <th>Room No.</th>
            <th>Image</th>
            <th>Room Type</th>
            <!-- <th>Beds</th> -->
            <th>Per Day Cost</th>
            <!-- <th>Total Cost</th> -->
        </tr>{% for i in brr %}
        <tr>
            <td>{{i.roomid.roomnumber}}</td>
            <td><img src="{% static 'image/281851425.jpg' %}" alt="" height="50px" width="50px"></td>
            <th>{{i.roomid.roomtype}}</th>
            <!-- <td>Single Bed</td> -->
            <td>₹ {{i.roomid.price}}</td>
            <!-- <td>₹ 3,000</td> -->
        </tr>{% endfor %}
    </table><br><br>
    <a href="profile" button type="button" class="btn btn-primary">Back</a>
</div>{% endblock %}