{% extends 'checkavail.html' %} {% load static %} {% block content %} {% if messages %} {% for message in messages %}
<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">
  ×
  </button>
    <strong>{{message}}<strong>
</div>
{% endfor %}
{% endif %}
<section>
    {% for i in propss %}
    <div class="row">
        <div class="col-md-12 mb-5">
            <div class="card profile-header">
                <div class="body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="profile-image float-md-right"> <img src="{% static 'image/281851425.jpg' %}" alt="" height="150px" width="180px"> </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-12">
                            <h4 class="m-t-0 m-b-0"><strong>{{i.property_name}}</strong> </h4>
    <span>{{i.City}}, {{i.State}}</span><br>
    <!-- <span>₹ 1,325</span><br> -->
    <!-- <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span> -->
    <div>
        <a href="{% url 'whitehotel' i.id %}" button class="btn btn-primary btn-round">See Availability</button></a>
    </div>

</div>
{% endfor %}
</section>

<!--  -->
{% endblock %}