{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container marketing ">
    <!-- Three columns of text below the carousel -->
    <br><br><br>
    <h2><b>Popular Destinations:</b></h2><br><br>
    <div class="row ">
        <div class="card text-white col-md-5 mb-3">
            <img src="https://dreamholidayspackages.com/Sales/Images/alleppey1.jpg" class="card-img" alt="">
            <div class="card-img-overlay">
                <a href="" style="text-decoration: none; color: black;">
                    <h5 class="card-title">Alappuzha</h5>
                </a>
                <p class="card-text">2 packages available</p>
            </div>
        </div>
        <!-- /.col-lg-4 -->
        <div class="card text-white col-md-5 mb-3">
            <img src="https://dreamholidayspackages.com/Sales/Images/alleppey1.jpg" class="card-img" alt="">
            <div class="card-img-overlay">
                <a href="" style="text-decoration: none; color: black;">
                    <h5 class="card-title">Munnar</h5>
                </a>
                <p class="card-text">4 packages available</p>
            </div>
        </div>
        <!-- /.col-lg-4 -->
        <div class="card text-white col-md-5 mb-3">
            <img src="https://dreamholidayspackages.com/Sales/Images/alleppey1.jpg" class="card-img" alt="">
            <div class="card-img-overlay">
                <a href="" style="text-decoration: none; color: black;">
                    <h5 class="card-title">Alappuzha</h5>
                </a>
                <p class="card-text">2 packages available</p>
            </div>
        </div>
        <div class="card text-white col-md-5 mb-3">
            <img src="https://dreamholidayspackages.com/Sales/Images/alleppey1.jpg" class="card-img" alt="">
            <div class="card-img-overlay">
                <a href="" style="text-decoration: none; color: black;">
                    <h5 class="card-title">Alappuzha</h5>
                </a>
                <p class="card-text">2 packages available</p>
            </div>
        </div>
        <!-- <h2><b>Explore:</b></h2> -->
    </div>{% endblock %}