{% extends 'base.html' %} {% block content %}{% load static %}
<br><br><br><br>
<div class="row">
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                    <img src="/adminapp/media/{{msg.image}}" alt="Admin" class="rounded-circle" width="150" height="100">
                    <form action="/userimage/" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" placeholder="images" name="image1"><br>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </form>
                    <div class="mt-3">
                        <h4> {{msg.username}}</h4>
                        <p>{{msg.email}}</p>
                        <!-- <button class="btn btn-primary">Follow</button>
                        <button class="btn btn-outline-primary">Message</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">User Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{msg.username}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{msg.email}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Mobile</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{msg.phone_num}}
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-sm-12">
                        <a class="btn btn-primary" target="__blank" data-bs-toggle="modal" data-bs-target="#modalprofile">Edit</a>
                        <a class="btn btn-primary" target="__blank" data-bs-toggle="modal" data-bs-target="#modalcp">Change password</a>
                    </div>
                    <!--update profile modal-->
                    <div class="modal" tabindex="-1" role="dialog" id="modalprofile">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content rounded-5 shadow">
                                <div class="modal-header p-5 pb-4 border-bottom-0">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <div class="modal-body p-5 pt-0">
                                    <form action="/uprofile/" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control rounded-4" value="{{msg.username}}" name="upusername">
                                            <label for="floatingInput">User Name</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="email" class="form-control rounded-4" value="{{msg.email}}" name="upemail">
                                            <label for="floatingInput">Email address</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control rounded-4" value="{{msg.phone_num}}" name="upmobile" minlength="10">
                                            <label for="floatingInput">Mobile</label>
                                        </div>
                                        <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Save changes</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--password modal-->
                    <div class="modal" tabindex="-1" role="dialog" id="modalcp">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content rounded-5 shadow">
                                <div class="modal-header p-5 pb-4 border-bottom-0">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <div class="modal-body p-5 pt-0">
                                    <form action="/profile/" method="POST">
                                        {% csrf_token %}
                                        <div class="form-floating mb-3">
                                            <input type="password" class="form-control rounded-4" id="oldp" name="password" value="{{msg.password}}" required>
                                            <label for="floatingPassword"> Current Password</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="password" class="form-control rounded-4" id="newp" name="newpassword" required>
                                            <label for="floatingPassword">New Password</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="password" class="form-control rounded-4" id="conp" onchange="passValidate()" required>
                                            <label for="floatingPassword">Confirm Password</label>
                                        </div>
                                        <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Save changes</button> {{msg2}}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="d-flex align-items-center mb-3">Your orders</h5>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">No.</th>
                                    <th scope="col">Property Address</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Rooms</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>White Suit Hotel, Kozhikode,Kerala</td>
                                    <td>11/12/2021</td>
                                    <td>2</td>
                                    <td>₹ 3,000</td>
                                    <td>Confirmed</td>
                                    <td>
                                        <a href="{% url 'bookreciept' %}" button type="button" class="btn-primary">View</a>
                                        <button type="button" class="btn-primary" data-bs-toggle="modal" data-bs-target="#modalcancel">Cancel</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!--login modal-->
                        <div class="modal" tabindex="-1" role="dialog" id="modalcancel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content rounded-5 shadow">
                                    <div class="modal-header p-5 pb-4 border-bottom-0">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>

                                    <div class="modal-body p-5 pt-0">
                                        <form class="">
                                            <div class="form-floating mb-3">
                                                <h4>Cancel booking</h4>
                                            </div>
                                            <!-- <hr> -->
                                            <!-- <div class="form-floating mb-3">
                                                <p>Are you s</p>
                                            </div> -->
                                            <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Cancel anyway</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="d-flex align-items-center mb-3">Booking History</h5>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">No.</th>
                                    <th scope="col">Property Name</th>
                                    <th scope="col">Property Type</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">CheckIn - CheckOut</th>
                                    <th scope="col">Rooms</th>
                                    <th scope="col">No. of persons</th>
                                    <th scope="col">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>White Suit Hotel</td>
                                    <td>Hotel</td>
                                    <td>Kozhikode,Kerala</td>
                                    <td>11/10/2021 - 12/10/2021</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>₹ 1,325</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Le Candles Resort</td>
                                    <td>Resort</td>
                                    <td>Kozhikode,Kerala</td>
                                    <td>01/11/2021 - 05/11/2021</td>
                                    <td>2</td>
                                    <td>6</td>
                                    <td>₹ 5,500</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Raviz Kadavu Resort</td>
                                    <td>Resort</td>
                                    <td>Kozhikode,Kerala</td>
                                    <td>11/12/2021 - 12/12/2021</td>
                                    <td>1</td>
                                    <td>3</td>
                                    <td>₹ 4,000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<script>
    function passValidate() {
        var oldpassword = document.getElementById("oldp").value;
        var newpassword = document.getElementById("newp").value;
        var confirmPassword = document.getElementById("conp").value;
        if (newpassword != confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }
        return true;
    }
</script>
{% endblock %}