{% extends 'profilebase.html' %} {% block content %}{% load static %}
<div><br>
    <h2>Customer Reviews:</h2><br><br>
    <div style="list-style: none;">
        <hr>
        <li>
            <div class="row">
                <div class="col-md-2" style=" padding-left: 40px;">
                    <img src="https://graph.facebook.com/v2.9/10157657415524698/picture?type=square&height=64&width=64" alt="loo" height="50px" width="50px"><br>
                    <span>Suhas</span>
                    <span>Kerala</span><br><br>
                    <small>Single room</small><br>
                    <small>1 night - April 2021</small><br>
                    <small>Family</small>
                </div>
                <div class="col-md-2">
                    <small style="margin-top: 30px;" align="center">reviewed 4 days ago</small><br>

                </div>
                <div class="col-md-6 mt-5">
                    <h4>very neat and tidy</h4>
                </div>
                <div class="col-md-2">
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                </div>
            </div>
        </li>
        <hr>
        <li>
            <div class="row">
                <div class="col-md-2" style=" padding-left: 40px;">
                    <img src="https://cf.bstatic.com/static/img/review/avatars/ava-k/c84a361d670170a23bc2e937798fc23520f61c43.png" alt="loo" height="50px" width="50px"><br>
                    <span>Karthik</span>
                    <span>India</span><br><br>
                    <small>Double room</small><br>
                    <small>1 night - March 2021</small><br>
                    <small>Family</small>
                </div>
                <div class="col-md-2">
                    <small style="margin-top: 30px;" align="center">reviewed 7 days ago</small><br>

                </div>
                <div class="col-md-6 mt-5">
                    <h4>Exceptional</h4>
                </div>
                <div class="col-md-2">
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                </div>
            </div>
        </li>
        <hr>
        <li>
            <div class="row">
                <div class="col-md-2" style=" padding-left: 40px;">
                    <img src="https://cf.bstatic.com/static/img/review/avatars/ava-s/d321d61d78a8fa310843e1967dca38e6276b92aa.png" alt="loo" height="50px" width="50px"><br>
                    <span>Sanal</span>
                    <span>Kerala</span><br><br>
                    <small>Single room</small><br>
                    <small>1 night - September 2021</small><br>
                    <small>Solo</small>
                </div>
                <div class="col-md-2">
                    <small style="margin-top: 30px;" align="center">reviewed 14 days ago</small><br>

                </div>
                <div class="col-md-6 mt-5">
                    <h4>Super</h4>
                </div>
                <div class="col-md-2">
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
        </li>
        <hr>
    </div><br><br>
    <a href="profile" button type="button" class="btn btn-primary">Back</a>
</div>{% endblock %}