{% extends 'withoutfilter.html' %} {% load static %} {% block content %}
<!-- <div> -->
<!-- Shop Details Section Begin -->
<section class="shop-details">
    <div class="product__details__pic">
        {% for i in pr %}
        <div class="container">
            <div class="row">
                <div class=" col-md-4">
                    <!-- <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item ">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">
                                <div class="product__thumb__pic set-bg" data-setbg="{% static 'image/281851425.jpg' %}" style="height: 100px; width: 100px;">
                                </div>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">
                                <div class="product__thumb__pic set-bg" data-setbg="{% static 'image/wh2.jpg' %}" style="height: 100px; width: 100px;">
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">
                                <div class="product__thumb__pic set-bg" data-setbg="https://cf.bstatic.com/xdata/images/hotel/max1024x768/282274545.jpg?k=88553b7b2eec27ee734b3f71eded15192df959e396053bbbb34bbab7b4294b0f&o=&hp=1" style="height: 100px; width: 100px;">
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab">
                                <div class="product__thumb__pic set-bg" data-setbg="https://cf.bstatic.com/xdata/images/hotel/max1024x768/321852780.jpg?k=3b02792b3e3460a473db6a76f7cec9367ac77f1117ae59e99485ee32b24e3fad&o=&hp=1" style="height: 100px; width: 100px;">

                                </div>
                            </a>
                        </li>
                    </ul> -->
                </div>
                <div class="col-md-4" style="padding-left: 200px;">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__pic__item">
                                <img src="/adminpp/media/{{i.propertyimage}}" alt="sds" style="height: 400px; width: 500px;">
                            </div>
                        </div>
                        <!-- <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="product__details__pic__item">
                                <img src="{% static 'image/wh2.jpg' %}" alt="sdsd" style="height: 400px; width: 500px;">2
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="product__details__pic__item">
                                <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/282274545.jpg?k=88553b7b2eec27ee734b3f71eded15192df959e396053bbbb34bbab7b4294b0f&o=&hp=1" alt="sdsd" style="height: 400px; width: 500px;">3
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-4" role="tabpanel">
                            <div class="product__details__pic__item">
                                <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/321852780.jpg?k=3b02792b3e3460a473db6a76f7cec9367ac77f1117ae59e99485ee32b24e3fad&o=&hp=1" alt="" style="height: 400px; width: 500px;">
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div><br>
    <div class="product__details__content">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col">
                    <div class="product__details__text">
                        <h4>{{i.property_name}}</h4>
                        <!-- <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <span> - 5 Reviews</span>
                        </div> -->
                        <!-- <h3>₹ 1,325 <span></span></h3> -->

                        <p><i class="fa fa-map-marker"></i> {{i.property_address}} </p>
                        <p>{{i.City}}</p>
                        <p>{{i.State}}</p>
                        <p>{{i.Pincode}}</p>
                        <h6>Star rate: {{i.star_rate}}</h6>
                        <h6>Contact:</h6>
                        <p>{{i.contact_name}}</p>
                        <p>{{i.contact_phone}}</p>
                        <div class="product__details__option">

                            <div class="product__details__cart__option">
                                <!-- <a href="#" class="primary-btn">add to cart</a> -->
                                <form action="#">
                                    <!-- <div class="col-md-4 row ">
                                        <div class="input-group col-md-4">
                                            <p>Number of Guests:</p>&nbsp;
                                            <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-dark btn-number"  data-type="minus" data-field="">
                                          <span class="glyphicon glyphicon-minus">-</span>
                                            </button>
                                            </span>
                                            <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="10">
                                            <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-dark btn-number" data-type="plus" data-field="">
                                            <span class="glyphicon glyphicon-plus">+</span>
                                            </button>
                                            </span>
                                        </div><br>
                                    </div><br>
                                    <div class="row col-md-4">
                                        <div class="input-group col-md-4">
                                            <label for="checkintime">Checkin time:</label>
                                            <input type="time" name="checkintime">
                                        </div>
                                        <div class="input-group col-md-4">
                                            <label for="checkouttime">Checkout time:</label>
                                            <input type="time" name="checkouttime">
                                        </div>
                                    </div><br>
                                    <select class="form-select col-md-4" aria-label="Default select example">
                                        <option selected>Single room</option>
                                        <option value="1">Double room</option>
                                        <option value="2">Quad room </option>                                     
                                      </select><br> -->
                                    <!-- <a href="bookingform" button type="button" class="btn btn-primary">Book Now</a> -->
                                </form>
                            </div><br>
                            <div class="product__details__btns__option">
                                <!-- <a href="#"><i class="fa fa-heart"></i> add to wishlist</a> -->
                                <!-- <a href="#"><i class="fa fa-exchange"></i> Add To Compare</a> -->
                            </div><br>
                            <!-- <div class="product__details__last__option">
                                <h5><span>Most popular facilities</span></h5>
                                <img src="img/shop-details/details-payment.png" alt="">
                                <ul>
                                    <li><i class="fa fa-plane"></i> Airport shuttle</li>
                                    <li>Room service</li>
                                    <li> Free WiFi</li>
                                    <li>Free parking</li>
                                    <li>Family rooms</li>
                                    <li> Restaurant</li>
                                    <li>Tea/coffee maker in all rooms
                                    </li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                </div><br><br>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__details__tab">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" role="tab">Description</a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabs-6" role="tab">Customer
                                reviews(5)</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabs-7" role="tab">House Rules</a>
                                </li> -->
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tabs-5" role="tabpanel">
                                    <div class="product__details__tab__content"><br>
                                        <p>{{i.description}}
                                        </p>

                                    </div>
                                </div>
                                <!-- <div class="tab-pane" id="tabs-6" role="tabpanel">
                                    <div class="product__details__tab__content"><br>
                                        <div class="product__details__tab__content__item" style="height: 200px; list-style-type:none;">
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2" style=" padding-left: 40px;">
                                                        <img src="https://graph.facebook.com/v2.9/10157657415524698/picture?type=square&height=64&width=64" alt="loo" height="50px" width="50px"><br>
                                                        <span>Suhas</span>
                                                        <span>Kerala</span><br><br>
                                                        <small>Single room</small><br>
                                                        <small>1 night - April 2021</small><br>
                                                        <small>Family</small>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <small style="margin-top: 30px;" align="center">reviewed 4 days ago</small><br>

                                                    </div>
                                                    <div class="col-md-6 mt-5">
                                                        <h4>very neat and tidy</h4>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="rating">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr>
                                            <a href="reviews" button type="button" class="btn btn-primary">Load more</a>
                                        </div>
                                    </div>
                                </div><br>
                                <div class="tab-pane" id="tabs-7" role="tabpanel">
                                    <div class="product__details__tab__content ">
                                        <div class="product__details__tab__content__item ">
                                            <h5>Cancellation/ prepayment</h5>
                                            <p>Cancellation and prepayment policies vary according to accommodation type.
                                            </p>
                                        </div>
                                        <div class="product__details__tab__content__item ">
                                            <h5>Child policies</h5>
                                            <p>Children of any age are welcome. Children aged 18 years and above are considered adults at this property. To see correct prices and occupancy information, please add the number of children in your group and
                                                their ages to your search.</p>
                                        </div>
                                        <div class="product__details__tab__content__item ">
                                            <h5>Age restriction</h5>
                                            <p>The minimum age for check-in is 18</p>
                                        </div>
                                        <div class="product__details__tab__content__item ">
                                            <h5>Pets</h5>
                                            <p>Pets are not allowed.</p>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <div class="product__details__tab__content__item ">
                                <h5>Cancellation allowed on before(free charge)</h5>{{i.Cancel_freecharge_date}}
                            </div><br>
                            <div class="product__details__tab__content__item ">
                                <h5>Children allowed</h5>{{i.Children}}
                            </div><br>
                            <div class="product__details__tab__content__item ">
                                <h5>Pets allowed</h5>{{i.pets}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div><br><br>
                <h2>Room description: (24 HOURS)</h2><br>
                <table class="table table-borderless">
                    <tr>
                        <th>Roomtypes</th>
                        <th>Todays price</th>
                        <th>Capacity</th>
                        <th>Book</th>
                    </tr>
                    {% for i in rr %}
                    <tr>
                        <td>{{i.roomtype}}</td>
                        <td>₹ {{i.price}}</td>
                        <td>
                            {{i.capacity}}
                        </td>
                        <td><a href="{% url 'bookingform' i.id %}" button type="button" class="btn btn-primary">Book Now</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <!-- <div>
                <h3>Add customer reviews:</h3><br>
                <form>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Enter your name">
                            </div>
                            <div class="col-md-6">
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your email">
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Enter your booking detail">
                            </div>
                            <div class="col-md-6">
                                <div class="rating" align="center">
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            </div>
                        </div><br>
                        <div class="mb-3 col-md-6">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter your review here"></textarea>
                        </div>
                    </div>
                    <a href="" button type="button" class="btn btn-primary">Send review</a>
                </form>
            </div> -->
        </div>
</section><br><br><br>
<!-- Shop Details Section End -->
</div>

{% endblock %}