{% extends 'admin1.html' %}{% load static %} {% block content %}
<div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">All Blog Posts: </h1>
    </div><br>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Categories</th>
                    <th scope="col">Written by</th>
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>10 Best Hotels In Calicut For A Delightful Staycation In God’s Own Country!</td>
                    <td>Hotels</td>
                    <td>Indrani Mukherjee</td>
                    <td>02/12/2021</td>
                    <td><a href="editblog" button type="button" class="btn btn-primary">Edit</a>
                        <button class="btn btn-primary">Delete</button></td>
                </tr>



                <tr>
                    <td>2</td>
                    <td>10 Best Hotels In Calicut For A Delightful Staycation In God’s Own Country!</td>
                    <td>Hotels</td>
                    <td>Indrani Mukherjee</td>
                    <td>02/12/2021</td>
                    <td><a href="editblog" button type="button" class="btn btn-primary">Edit</a>
                        <button class="btn btn-primary">Delete</button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>10 Best Hotels In Calicut For A Delightful Staycation In God’s Own Country!</td>
                    <td>Hotels</td>
                    <td>Indrani Mukherjee</td>
                    <td>02/12/2021</td>
                    <td><a href="editblog" button type="button" class="btn btn-primary">Edit</a>
                        <button class="btn btn-primary">Delete</button></td>
                </tr>

            </tbody>
        </table><br><br><br>
    </div>
</div>{% endblock %}