{% extends 'admin1.html' %}{% load static %} {% block content %}
<div>
    {% if messages %} {% for message in messages %}
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">
      ×
      </button>
        <strong>{{message}}<strong>
    </div>
 {% endfor %}
{% endif %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Booking Details: </h1>
    </div><br>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">BookingId</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">PropertyId</th>
                    <th scope="col">RoomId</th>
                    <th scope="col">Location</th>
                    <th scope="col">Checkin</th>
                    <th scope="col">Checkout</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>{% for i in b %}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.fname}} {{i.lname}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.phone}}</td>
                    <td>{{i.propertyid}}</td>
                    <td>{{i.roomid}}</td>
                    <td>{{i.city}}, {{i.state}}</td>
                    <td>{{i.checkin}}</td>
                    <td>{{i.checkout}}</td>
                    <td>
                        <!-- <a href="editbooking" button type="button" class="btn btn-primary">Edit</a> -->
                        <a href="{% url 'delbk' i.id %}" button type="button" class="btn btn-primary">Delete</a>
                </tr>
                {% endfor %}
            </tbody>
        </table><br><br><br>
    </div>
</div>{% endblock %}