{% extends 'admin1.html' %} {% load static %} {% block content %}
<div><br>
    <h1 class="text-center my-0">Edit Property</h1><br><br>
    <!--Staff section -->
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-lg-6 col-xlg-6 col-sm-12 mx-auto">

                <form>

                    <div class="form-group">
                        <label for="pname">Property Name:</label>
                        <input type="text" class="form-control" id="pname" name="pname">
                    </div><br>
                    <div class="form-group">
                        <label for="ptype">Property Type:</label>
                        <input type="text" class="form-control" id="ptype" name="ptype">
                    </div><br>
                    <div class="form-group">
                        <label for="email">Username:</label>
                        <input type="text" class="form-control " id="uname" name="uname">
                    </div><br>
                    <div class="form-group">
                        <label for="pwd">Status:</label>
                        <select class="form-control" name="status" id="status">
                            <option value="1">Available</option>
                            <option value="2">Not Available</option>
                            
                        </select>
                    </div><br>
                    <div class="form-group">
                        <label for="pwd">Location:</label>
                        <input type="text" class="form-control " id="hotel" name="hotel" value="kozhikode" disabled>
                    </div><br>
                    <button type="submit" class="btn btn-danger">Save</button>
                    <a href="admindashboard" button type="reset" class="btn btn-danger">Cancel</a>
                    <input type="hidden" name="pname">
                    <input type="hidden" name="ptype" id="ptype">
                    <input type="hidden" name="status" id="status">

                </form>
            </div>
        </div>
    </div>
</div>{% endblock %}