{% extends 'admin1.html' %}{% load static %} {% block content %}
<div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Feedbacks: </h1>
    </div><br>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Message</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Ram s</td>
                    <td>ram@gmail.com</td>
                    <td>Booking problem</td>
                    <td>sdsdsdsdsdsdsdsdsdsd</td>
                    <td><a button type="button" class="btn btn-primary">Respond</a>
                        <button class="btn btn-primary">Delete</button></td>
                </tr>



                <tr>
                    <td>2</td>
                    <td>Ram s</td>
                    <td>ram@gmail.com</td>
                    <td>Booking problem</td>
                    <td>sdsdsdsdsdsdsdsdsdsd</td>
                    <td><a button type="button" class="btn btn-primary">Respond</a>
                        <button class="btn btn-primary">Delete</button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Ram s</td>
                    <td>ram@gmail.com</td>
                    <td>Booking problem</td>
                    <td>sdsdsdsdsdsdsdsdsdsd</td>
                    <td><a button type="button" class="btn btn-primary">Respond</a>
                        <button class="btn btn-primary">Delete</button></td>
                </tr>

            </tbody>
        </table><br><br><br>
    </div>
</div>{% endblock %}