{% extends 'admin1.html' %}{% load static %} {% block content %}
<br><br> {% if messages %} {% for message in messages %}
<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">
      ×
      </button>
    <strong>{{message}}<strong>
    </div>
 {% endfor %}
{% endif %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Owners</h1>
</div><br>
<div class="table-responsive">
    <a href="addowners" type="Button" class="btn-group btn btn-primary">Add New</a>
    <br><br><br>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Gender</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for i in propp %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.username}}</td>
                <td>{{i.email}}</td>
                <td>{{i.phone_num}}</td>
                <td>{{i.dob}}</td>
                <td>{{i.gender}}</td>
                <td>
                    <a href="{% url 'deleteown' i.id %}">
                        <Button class="btn btn-primary">Delete</Button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table><br><br><br>
</div>
<br>
<!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">New Owners</h1>
</div><br> -->
<div class="table-responsive">
    <!-- <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Gender</th>
                <th scope="col">Requests</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Ram</td>
                <td>ram@gmail.com</td>
                <td>9864325452</td>
                <td>04/04/2021</td>
                <td>M</td>
                <td><a button type="button" class="btn btn-primary">Accept</a>
                    <button class="btn btn-primary">Delete</button></td>
            </tr>

        </tbody>
    </table><br><br><br> -->
</div> {% endblock %}